#primeiraParte {

}

#produtoGen {

    border-top: 2px solid black;

    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    
    width: 80%;

    margin-top: 5%;
    padding-top: 2%;
    
}

#genMasc{
    
    border-radius: 10%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    text-align: center;
}

#genFem {
    
    border-radius: 10%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    text-align: center;
}

#buttonGen {

    width: 200px;
    height: 50px;

    position: relative;
    background: transparent;

    border: 1px solid rgb(255, 255, 255);

    font-size: 25px;


    
}


#buttonGen:hover {

    /*border: 2px solid black;*/
    background: white;
    
}

#buttonGen div {

    

    width: 200px;
    height: 50px;
    color: #EDEDED;

    display: flex;
    align-items: center;
    justify-content: center;

    
}

#buttonGen div:hover {
    color: black;
    z-index: 50;
    
}


#escritaIma {
    font-size: 40px ;
    

   text-align: center;
   top: 75%;

   font-family: 'Poppins', sans-serif;

   margin-top: 5%;

   color: white;

   
}



#tittle{
    border-top: 2px solid black;
    width: 80%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
    margin-top: 5%;
}
#title h2{
    margin-top: 2%;
}

#Ofertas {

    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10%;
    justify-content: center;
    
    
    margin-top: 2%;
    margin-bottom: 40px;
    padding-bottom: 3%;

    border-bottom: 2px solid black;

}

#divCamisa {
    width: 260px;
    height: 260px;
    

}

#divCamisa:hover {
    transition: transform .5s;
    transform: scale(1.2);
    transition: filter 1s;
    filter: brightness(0.5);
}

#imagemCamisa {
    width: 250px;
    height: 240px;
    border-radius: 50%;
}

#escritaPromo {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    bottom: -6%;
    color: rgb(252, 54, 5);
    text-align: center;
}



