
#divProdutos {

    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: auto auto auto auto;

    row-gap: 20%;
    column-gap: 10%;

    justify-content: center;
    
    margin-top: 5%;
    margin-bottom: 20%;

}


#divCamisa {

    width: auto;
    height: auto;
    position: relative;
    margin-top: 1%;
    
}

#divCamisa:hover {
    transition: transform .5s;
    transform: scale(1.2);
    transition: filter 1s;
    filter: brightness(0.5);
}

#imagemCamisa {
    width: 250px;
    height: 240px;
    border-radius: 50%;
}

#nomeCamisa {
    font-family: 'Poppins', sans-serif;
    bottom: -6%;
    color: black;
    text-align: center;
}


